/* General General General General General General General General General General General General  */

body{
    background-color:#CED4DA;;
}

div.welcome{
    background-color:#6C757D;
}

.title{
    font-family: 'Russo One', sans-serif;
    text-align: center;
}

.subtitle{
    font-family: 'Russo One', sans-serif;
}

.text{
    font-family: 'Montserrat', sans-serif;
}

/* Nav Nav Nav Nav Nav Nav Nav Nav Nav Nav Nav Nav Nav Nav Nav Nav Nav Nav Nav Nav Nav Nav Nav Nav  */

.img-logo{
    width: 12rem;
    object-fit: cover;
    margin: 0 auto 0 auto;
}

.img_logo-nav{
    width: 1.2rem;
}

.container-img{
    position: absolute;
    right: 4rem;
    background-color: #ADB5BD;
    padding: .3rem;
    border-radius: 4rem;
}

.container-text{
    position: absolute;
    right: 7rem;
}

.container-logaut{
    position: absolute;
    right: .5rem;
}

/* Header Header Header Header Header Header Header Header Header Header  */

.header-container{
    width: 90%;
    margin: 2rem auto auto auto;
    background-color: #6C757D;
    border-radius: 1vh;
    padding: 1%;
}

.sub-container{
    width: 95%;
    height: 95%;
    margin: auto;
}

/* Content Content Content Content Content Content Content Content Content Content  */

.info {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 0) and (max-width: 574px) {
    .container-text, .container-logaut, .container-img {
        position: relative;
        right: inherit;
    }

    .container-img{
        padding: .2rem;
        width: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 575px){
    .container-img{
        padding: 0;
    }
}